package pages

import "github.com/mikestefanello/pagoda/pkg/controller"

// "github.com/mikestefanello/pagoda/app/goship/views/components"
templ DocumentationEmailingPage(page *controller.Page) {
	@docsPageLayout(page) {
	}
}
