@import './tailwind_components.css';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
  display: none !important;
}

:root {
  --brightness-normal: 1;
  /* No change by default */
  --brightness-hover-light: 0.15;
  /* Lighter in light mode */
  --brightness-hover-dark: 0.3;
  /* Darker in dark mode */
}

.hover-brightness {
  transition: filter 0.3s ease;
}

.hover-brightness:hover {
  transition: filter 0.3s ease;
  background-image: linear-gradient(rgba(0, 0, 0, var(--brightness-hover)), rgba(0, 0, 0, var(--brightness-hover)));
}

.tiptap .is-empty:first-child:before {
  @apply text-slate-300;
  @apply content-[attr(data-placeholder)];
  @apply float-left;
  @apply pointer-events-none;
  @apply h-0;
}