package components

templ SectionTitle(title string) {
	<h1 data-component="section-title" class="text-2xl font-bold">{ title }</h1>
}

templ SubSectionTitle(title string) {
	<h1 data-component="sub-section-title" class="text-xl font-semibold">{ title }</h1>
}
