package components

// Renders: theme-toggle component.
templ ThemeToggle(id string) {
	<div data-component="theme-toggle"
		id={ id }
	></div>
	@initThemeToggle(id)
}

script initThemeToggle(id string ) {
	renderSvelteComponent('ThemeToggle', id, {});
}

