package components

// Renders: theme-toggle component.
templ ThemeToggle(id string) {
	<div data-component="theme-toggle"
		id={ id }
		data-island="ThemeToggle"
		data-props={ templ.JSONString(map[string]any{}) }
	></div>
}
