package pages

import "github.com/leomorpho/goship/apps/site/controller"

// "github.com/leomorpho/goship/apps/site/views/web/components/gen"
templ DocumentationArchitecturePage(page *controller.Page) {
	@docsPageLayout(page) {
	}
}
