package pages

import "github.com/leomorpho/goship/apps/goship/controller"

// "github.com/leomorpho/goship/apps/goship/views/web/components/gen"
templ DocumentationEmailingPage(page *controller.Page) {
	@docsPageLayout(page) {
	}
}
