package pages

import "github.com/mikestefanello/pagoda/pkg/controller"

// "github.com/mikestefanello/pagoda/templates/components"
templ DocumentationArchitecturePage(page *controller.Page) {
	@docsPageLayout(page) {
	}
}
