package pages

import "github.com/mikestefanello/pagoda/pkg/controller"

templ HealthCheck(page *controller.Page) {
	<div class="bg-green-500 h-screen flex items-center justify-center">
		<h1 class="text-white text-3xl">Service is up and running!</h1>
	</div>
}
