package pages

import (
	"github.com/mikestefanello/pagoda/pkg/controller"
	"github.com/mikestefanello/pagoda/pkg/types"
)

templ Search(page *controller.Page) {
	if data, ok := page.Data.([]types.SearchResult); ok {
		for _, result := range data {
			<a class="panel-block" href={ templ.URL(result.URL) }>{ result.Title }</a>
		}
	}
}
