package pages

import "github.com/leomorpho/goship/app/goship/controller"

// "github.com/leomorpho/goship/app/goship/views/web/components/gen"
templ DocumentationArchitecturePage(page *controller.Page) {
	@docsPageLayout(page) {
	}
}
