package pages

import "github.com/leomorpho/goship/app/controller"

// "github.com/leomorpho/goship/app/views/web/components/gen"
// Renders: architecture documentation page
templ DocumentationArchitecturePage(page *controller.Page) {
	@docsPageLayout(page) {
	}
}

